<!-- start of category-section -->
<section class="category-section section-padding">
  <div class="container">
    <div class="category-wrap">
      <div class="row">
        {% assign limitData = section.settings.limit_category %}
        {% for collection in collections limit: limitData %}
          <div class="{% if forloop.index == 2 or forloop.index == 5  or forloop.index == 8 or forloop.index == 11 or forloop.index == 14 %}  col-lg-6 col-md-6 col-12 {% else %} col-lg-3 col-md-6 col-12 {% endif %}">
            <div class="category-img">
              <img class="catGridImg" src="{{ collection.image.src | collection_img_url: 'original'  }}" alt="">
              <a href="{{collection.url}}">
                <div class="top-text">
                  <h3>{{ collection.title }}</h3>
                  <button class="theme-btn-s2" href="{{collection.url}}">Shop now</button>
                </div>
              </a>
              <div class="bottom-text">
                <a href="{{collection.url}}">{{ collection.title }}</a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
<!-- end of category-section -->

{% schema %}
{
  "name": "Category Section",
  "settings": [
    {
      "type": "range",
      "id": "limit_category",
      "label": "Category Limit",
      "min": 3,
      "max": 24,
      "step": 1,
      "unit": "col",
      "default": 3
    }
  ],
  "presets": [
    {
      "name": "Category Section"
    }
  ]
}
{% endschema %}
