<!-- Start header -->
<header id="header">
  <div class="topbar">
    <div class="marquee">
      <ul>
        {% for block in section.blocks %}
          <li>{{ block.settings.topbar_text }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <!-- end topbar -->
  <div class="wpo-site-header">
    <nav class="navigation navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col-lg-3 col-md-3 col-3 d-lg-none dl-block">
            <div class="mobail-menu">
              <button type="button" class="navbar-toggler open-btn">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar first-angle"></span>
                <span class="icon-bar middle-angle"></span>
                <span class="icon-bar last-angle"></span>
              </button>
            </div>
          </div>
          <div class="col-lg-2 col-md-6 col-6">
            <div class="navbar-header">
              <a class="navbar-brand" href="/">
                {% if section.settings.logo != blank %}
                  <img
                    src="{{ section.settings.logo | img_url: '' }}"
                    alt="logo"
                  >
                {% else %}
                  <img
                    src="{{ 'logo.svg' |  asset_url }}"
                    alt="logo"
                  >
                {% endif %}
              </a>
            </div>
          </div>
          <div class="col-lg-8 col-md-1 col-1">
            <div id="navbar" class="collapse navbar-collapse navigation-holder">
              <button class="menu-close"><i class="ti-close"></i></button>
              <ul class="nav navbar-nav mb-2 mb-lg-0">
                <li><a href="shop.html">new arrivals</a></li>
                <li><a href="shop.html">Dresses</a></li>
                <li><a href="shop.html">Tops</a></li>
                <li><a href="shop.html">Bottoms</a></li>
                <li><a href="shop.html">Sets</a></li>
                <li><a href="outwear.html">Outwear</a></li>
                <li><a href="shop.html">Accessories</a></li>
              </ul>
            </div>
            <!-- end of nav-collapse -->
          </div>
          <div class="col-lg-2 col-md-2 col-2">
            <div class="header-right">
              <div class="currencey">
                <select>
                  <option>USD</option>
                  <option>EURO</option>
                  <option>BDT</option>
                </select>
              </div>

              <div class="header-search-form-wrapper">
                <div class="cart-search-contact">
                  <button class="search-toggle-btn">
                    <i
                      class="fi flaticon-search"
                    ></i>
                  </button>
                  <div class="header-search-form">
                    <form>
                      <div>
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Search here..."
                        >
                        <button type="submit">
                          <i
                            class="fi flaticon-search"
                          ></i>
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="header-wishlist">
                <a href="wishlist.html"><i class="fi flaticon-heart"></i></a>
              </div>
              <div class="header-login">
                <a class="login-btn" href="login.html"
                  ><i
                    class="fi flaticon-user-profile"
                  ></i
                ></a>
              </div>
              <div class="mini-cart">
                <button class="cart-toggle-btn">
                  <i class="fi flaticon-add-to-cart"></i>
                  <span
                    class="cart-count"
                    >2</span
                  >
                </button>
                <div class="mini-cart-content">
                  <div class="title">
                    <h4>Shopping Cart</h4>
                  </div>
                  <button class="mini-cart-close"><i class="ti-close"></i></button>
                  <div class="mini-cart-items">
                    <p class="top-p">Some items in your cart may sell out.</p>
                    <div
                      class="mini-cart-item clearfix"
                      data-bs-toggle="modal"
                      data-bs-target="#popup-quickview"
                    >
                      <div class="mini-cart-item-image">
                        <a href="shop.html"
                          ><img
                            src="{{ 'img-1.jpg' |  asset_url }}"
                            alt
                        ></a>
                      </div>
                      <div class="mini-cart-item-des">
                        <h4><a href="product-single.html">Alejandra</a></h4>
                        <p>One Shoulder Satin Maxi Dress - Red</p>
                        <ul class="product-text-sub">
                          <li>3xl</li>
                          <li class="mx-1">|</li>
                          <li>Vermilion Red</li>
                        </ul>
                        <span class="price">$200.00</span>
                      </div>
                      <div class="pro-single-btn">
                        <div class="quantity cart-plus-minus">
                          <input type="text" value="1">
                          <div class="dec qtybutton"></div>
                          <div class="inc qtybutton"></div>
                          <div class="dec qtybutton">-</div>
                          <div class="inc qtybutton">+</div>
                        </div>
                        <a href="#" class="dlt-btn"><i class="ti-trash"></i></a>
                      </div>
                    </div>
                    <div
                      class="mini-cart-item clearfix"
                      data-bs-toggle="modal"
                      data-bs-target="#popup-quickview"
                    >
                      <div class="mini-cart-item-image">
                        <a href="shop.html"
                          ><img
                            src="{{ 'img-2.jpg' |  asset_url }}"
                            alt
                        ></a>
                      </div>
                      <div class="mini-cart-item-des">
                        <h4><a href="product-single.html">Alejandra</a></h4>
                        <p>One Shoulder Satin Maxi Dress - Red</p>
                        <ul class="product-text-sub">
                          <li>3xl</li>
                          <li class="mx-1">|</li>
                          <li>Vermilion Red</li>
                        </ul>
                        <span class="price">$200.00</span>
                      </div>
                      <div class="pro-single-btn">
                        <div class="quantity cart-plus-minus">
                          <input type="text" value="1">
                          <div class="dec qtybutton"></div>
                          <div class="inc qtybutton"></div>
                          <div class="dec qtybutton">-</div>
                          <div class="inc qtybutton">+</div>
                        </div>
                        <a href="#" class="dlt-btn"><i class="ti-trash"></i></a>
                      </div>
                    </div>
                    <div class="mini-cart-item">
                      <div class="mini-cart-item-image">
                        <a href="shop.html"
                          ><img
                            src="{{ 'img-1.jpg' |  asset_url }}"
                            alt
                        ></a>
                      </div>
                      <div class="mini-cart-item-des">
                        <h3>Are you sure you want to remove this item from your cart?</h3>
                        <p>You can add this item to your Wishlist from here to buy later.</p>
                      </div>
                      <div class="pro-single-btn">
                        <a href="#" class="w-btn"><i class="fi flaticon-heart"></i> Add to wishlist</a>
                        <a href="#" class="dlt-btn"><i class="ti-trash"></i></a>
                      </div>
                    </div>
                  </div>
                  <div class="mini-cart-action clearfix">
                    <div class="mini-btn">
                      <a href="checkout.html" class="view-cart-btn">Checkout</a>
                      <a href="cart.html" class="view-cart-btn s2">View Cart</a>
                    </div>
                    <p>Taxes and shipping calculated at checkout.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end of container -->
    </nav>
  </div>
</header>
<!-- end of header -->

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "link_list",
      "id": "main_menu",
      "label": "Main menu"
    }
  ],
  "blocks": [
    {
      "name": "Top Slider",
      "type": "slider",
      "settings": [
        {
          "type": "text",
          "id": "topbar_text",
          "label": "Topbar Text",
          "default": "SUMMER SALE DISCOUNT OFF 50%"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Top Slider",
      "blocks": [
        {
          "type": "slider"
        }
      ]
    }
  ]
}
{% endschema %}
