<script>
  window.product = {{ product | json }} || {}
</script>
<script type="application/json">
  {{ product.variants | json }}
</script>

<!-- start of product-section -->
<section class="product-section">
  <div class="container">
    <div class="product-wrap style-1">
      <div class="row">
        <div class="col-lg-10 col-sm-9 col-12">
          <ul class="nav nav-mb-3 main-tab" id="tab" role="tablist">
            {% for block in section.blocks %}
              <li class="nav-item" role="presentation">
                <button
                  class="nav-link  {% if forloop.index == 1 %} active {% endif %}"
                  onclick="openPage('tabs{{ forloop.index }}', this, 'nav-link active')"
                  data-bs-toggle="pill"
                  data-bs-target="#prd-tab-{{ forloop.index }}"
                  type="button"
                  role="tab"
                  aria-controls="prd-tab-{{ forloop.index }}"
                  aria-selected="true"
                >
                  {{ block.settings.tab_title }}
                </button>
              </li>
            {% endfor %}
          </ul>
        </div>
        <div class="col-lg-2 col-sm-3 col-12">
          <div class="view-btn-wrap">
            <a href="{{ section.settings.view_all_product }}" class="view-btn">VIEW ALL</a>
          </div>
        </div>
      </div>
      <div class="tab-content">
        {% for block in section.blocks %}
          <div
            class="
              tab-pane fade{% if forloop.index == 1 %}
                show active
              {% endif %}
            "

            id="prd-tab-{{ forloop.index }}"
            role="tabpanel"
            aria-labelledby="prd-tab-{{ forloop.index }}"
          >
            <div class="row">
              {% for product in collections[block.settings.feacture_collection].products %}
                <div class="col-lg-3 col-md-6 col-12">
                  <div class="product-item">
                    {% if product.images.size > 1 %}
                      <div class="product-image">
                        <div class="product-img-slider owl-carousel">
                          {% for image in product.images %}
                            <img
                              class="prodImage"
                              src="{{ image | image_url: height: 376 }}"
                              alt=""
                              loading="eager"
                              width=""
                              height=""
                            >
                          {% endfor %}
                        </div>
                        <div class="tag">
                          <i
                            ><img
                              src="{{ 'tag.svg' | asset_url }}"
                              alt=""
                              loading="eager"
                              width=""
                              height=""
                          ></i>
                          {% if product.metafields.custom.discount %}
                            <span>{{ product.metafields.custom.discount.value }}</span>
                          {% endif %}
                        </div>
                        <a class="heart" href="#"><i class="fi flaticon-heart"></i></a>
                      </div>
                    {% else %}
                      <div class="product-image">
                        <img
                          src="{{ product.featured_image | image_url: height: 376 }}"
                          alt=""
                          loading="eager"
                          width=""
                          height=""
                        >
                        {% if product.metafields.custom.discount.value %}
                          <div class="tag">
                            <i
                              ><img
                                src="assets/images/product/tag.svg"
                                alt=""
                                loading="eager"
                                width=""
                                height=""
                            ></i>

                            <span>{{ product.metafields.custom.discount.value }}</span>
                          </div>
                        {% endif %}
                        <a class="heart" href="#"><i class="fi flaticon-heart"></i></a>
                      </div>
                    {% endif %}

                    <div class="product-text">
                      {% if product.options.size > 0 and product.options.first == 'Color' %}
                        <div class="color-name">
                          <div>
                            {% assign unique_colors = product.variants | map: 'option1' | uniq %}
                            {% for color in unique_colors %}
                              <input
                                type="radio"
                                name="color"
                                id="001-{{ color }}"
                                class="aggree color1"
                                checked
                                style="background-color: {{ color }}"
                              >
                              <span style="margin:5px"></span>
                            {% endfor %}
                          </div>
                        </div>
                      {% endif %}
                      <h4>
                        <a href="{{ product.url }}">{{ product.title }}</a>
                      </h4>
                      <ul class="product-text-sub">
                        <li>{{ product.description | truncate: 35 }}</li>
                        <li class="price">{{ product.price | money }}</li>
                      </ul>

                      {% assign unique_size = product.variants | map: 'option2' | uniq %}
                      {% assign productSize = product.options | map: 'Size' %}

                      {% if product.options.size > 0 and product.options contains 'Size' %}
                        <div class="shop-filter-item size">
                          <div class="size-item">
                            {% for size in unique_size %}
                              <div class="button-group">
                                <input
                                  type="radio"
                                  id="{{ size }}"
                                  name="size"
                                  class="size1"
                                  value="1"
                                >
                                <label class="size-btn" for="{{size}}">{{ size }}</label>
                              </div>
                            {% endfor %}
                          </div>
                        </div>
                      {% endif %}
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
<!-- end of product-section -->

{% schema %}
{
  "name": "Product Section",
  "settings": [
    {
      "type": "range",
      "id": "limit_product",
      "label": "Product Limit",
      "min": 4,
      "max": 100,
      "step": 4,
      "unit": "col",
      "default": 4
    },
    {
      "type": "url",
      "id": "view_all_product",
      "label": "View All Product"
    }
  ],
  "blocks": [
    {
      "name": "Collection Tab",
      "type": "collection",
      "settings": [
        {
          "type": "collection",
          "id": "feacture_collection",
          "label": "Collection"
        },
        {
          "type": "text",
          "id": "tab_title",
          "label": "Tab Title",
          "default": "NEW ARRIVALS"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Product Section",
      "blocks": [
        {
          "type": "collection"
        }
      ]
    }
  ]
}
{% endschema %}
