<!-- start of product-section -->
<section class="product-section">
  <div class="container">
    <div class="product-wrap">
      <div class="row">
        {% for product in section.settings.productList %}
          <div class="col-lg-3 col-md-6 col-12">
            <div class="product-item">
              {% if product.images.size > 1 %}
                <div class="product-image">
                  <div class="product-img-slider owl-carousel">
                    {% for image in product.images %}
                      <img
                        class="prodImage"
                        src="{{ image | image_url: height: 376 }}"
                        alt=""
                        loading="eager"
                        width=""
                        height=""
                      >
                    {% endfor %}
                  </div>
                  <div class="tag">
                    <i
                      ><img
                        src="{{ 'tag.svg' | asset_url }}"
                        alt=""
                        loading="eager"
                        width=""
                        height=""
                    ></i>
                    {% if product.metafields.custom.discount %}
                      <span>{{ product.metafields.custom.discount.value }}</span>
                    {% endif %}
                  </div>
                  <a class="heart" href="#"><i class="fi flaticon-heart"></i></a>
                </div>
              {% else %}
                <div class="product-image">
                  <img
                    src="{{ product.featured_image | image_url: height: 376 }}"
                    alt=""
                    loading="eager"
                    width=""
                    height=""
                  >
                  {% if product.metafields.custom.discount.value %}
                    <div class="tag">
                      <i
                        ><img
                          src="assets/images/product/tag.svg"
                          alt=""
                          loading="eager"
                          width=""
                          height=""
                      ></i>

                      <span>{{ product.metafields.custom.discount.value }}</span>
                    </div>
                  {% endif %}

                  <a class="heart" href="#"><i class="fi flaticon-heart"></i></a>
                </div>
              {% endif %}

              <div class="product-text">
                {% if product.options.size > 0 and product.options.first == 'Color' %}
                  <div class="color-name">
                    <div>
                      {% assign unique_colors = product.variants | map: 'option1' | uniq %}
                      {% for color in unique_colors %}
                        <input
                          type="radio"
                          name="color"
                          id="001-{{ color }}"
                          class="aggree color1"
                          checked
                          style="background-color: {{ color }}"
                        >
                        <span style="margin:5px"></span>
                      {% endfor %}
                    </div>
                  </div>
                {% endif %}
                <h4>
                  <a href="{{ product.url }}">{{ product.title }}</a>
                </h4>
                <ul class="product-text-sub">
                  <li>{{ product.description | truncate: 35 | strip_html }}</li>
                  <li class="price">{{ product.price | money }}</li>
                </ul>

                {% assign unique_size = product.variants | map: 'option2' | uniq %}
                {% assign productSize = product.options | map: 'Size' %}

                <script>
                  // console.log({{ product.options | json }});
                  console.log({{ productSize | json }});
                </script>
                {% if product.options.size > 0 and product.options contains 'Size' %}
                  <div class="shop-filter-item size">
                    <div class="size-item">
                      {% for size in unique_size %}
                        <div class="button-group">
                          <input
                            type="radio"
                            id="{{ size }}"
                            name="size"
                            class="size1"
                            value="1"
                          >
                          <label class="size-btn" for="{{size}}">{{ size }}</label>
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
<!-- end of product-section -->

{% schema %}
{
  "name": "Product Grid",
  "settings": [
    {
      "type": "product_list",
      "id": "productList",
      "label": "Add Product"
    }
  ],

  "presets": [
    {
      "name": "Product Grid"
    }
  ]
}
{% endschema %}
