<!-- start of product-arrival-section -->
<section class="product-arrival-section section-padding pt-0">
  <div class="container">
    <div class="product-arrival-wrap">
      <div class="row">
        <div class="col-lg-7">
          <div class="product-arrival-img">
            <img
              src="{{ section.settings.banner_image |  image_url: width: 600 }}"
              alt=""
              height=""
              width=""
              loading="eager"
            >
          </div>
        </div>
        <div class="col-lg-5">
          <div class="product-arrival-text">
            <small>{{ section.settings.winter_slug }}</small>
            <h2>{{ section.settings.winter_title }}</h2>
            <p>
              {{ section.settings.winter_descripiton }}
            </p>
            <a href="{{ section.settings.banner_button_url }}">{{ section.settings.winter_button_text }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end of product-section -->
{% schema %}
{
  "name": "Winter Collection",
  "settings": [
    {
      "type": "text",
      "id": "winter_slug",
      "label": "Winter Slug",
      "default": "New Arrival"
    },
    {
      "type": "text",
      "id": "winter_title",
      "label": "Winter Title",
      "default": "WINTER Collection"
    },
    {
      "type": "text",
      "id": "winter_descripiton",
      "label": "Winter Description",
      "default": "Lorem ipsum is simply dummy text of the printing typesetting industry. Lorem ipsum has been standard dummy text. Lorem ipsum has been standard."
    },
    {
      "type": "text",
      "id": "winter_button_text",
      "label": "Button Text",
      "default": "Shop Now"
    },
    {
      "type": "url",
      "id": "banner_button_url",
      "label": "Button Link"
    },
    {
      "type": "image_picker",
      "id": "banner_image",
      "label": "Banner Image"
    }
  ],

  "presets": [
    {
      "name": "Winter Collection"
    }
  ]
}
{% endschema %}
